.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    }


.container {
    width: 80%;
    margin: 0 auto;
}

.capsule {
    width: clamp(200px, 50%, 600px);
    height: 300px;
    min-height: 200px;
    background-color: cyan;
}