@import "/src/colors.css";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  column-gap: 3%;
  width: 80%;
  margin: auto;
}

a {
  color: black;
  margin-top: 5px;
}

.typingtext {
  color: black;
  font-size: 0.8em;
}

.small {
  max-height: 150px;
  margin-top: 5px;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.capsule {
  min-width: 70px;
  max-width: 350px;
  height: 300px;
  min-height: 200px;
  /* background-color: var(--normal); */
  margin-bottom: 10px;
  border-radius: 25px;
  border-width: 5px;
  position: relative;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.rotate {
  min-width: 70px;
  max-width: 200px;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.heart {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.idtext {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: .7em;
}
