html {
--normal: #838357;
--fire: #f08030;
--water: #6890f0;
--grass: #78c850;
--electric: #f8d030;
--ice: #98d8d8;
--fighting: #bd5a21;
--poison: #a040a0;
--ground: #e0c068;
--flying: #a890f0;
--psychic: #f85888;
--bug: #a8b820;
--rock: #b8a038;
--ghost: #705898;
--dark: #705898;
--dragon: #7038f8;
--steel: #b8b8d0;
--fairy: #f0b6bc;

--normallite: #b9b9a0;
--firelite: #f6af7d;
--waterlite: #6ccff3;
--grasslite: #bce4a8;
--electriclite: #fcecac;
--icelite: #daf1f1;
--fightinglite: #bda191;
--poisonlite: #cc98cc;
--groundlite: #f0e1b6;
--flyinglite: 	#d8cef9;
--psychiclite: #fcb4ca;
--buglite: 	#d8e09b;
--rocklite: #e0d5a6;
--ghostlite: #ccc3da;
--darklite: #bfb4d1;
--dragonlite: #c0a6fc;
--steellite: #e6e6ee;
--fairylite: #fae5e7;
}