.generationgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 30px;
}

.genbuttons {
    max-height: 300px;
    font-size: .6em;
}